@font-face {
  font-family: "AGAvalancheC";
  src: url(../fonts/AGAvalancheC.woff) format("woff"), url(../fonts/AGAvalancheC.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AGAvalancheC";
  src: url(../fonts/AGAvalancheC-Bold.woff2) format("woff2"), url(../fonts/AGAvalancheC-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adventure";
  src: url(../fonts/Adventure.woff) format("woff"), url(../fonts/Adventure.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adventure_Normal";
  src: url(../fonts/Adventure_Normal.woff) format("woff"), url(../fonts/Adventure_Normal.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0;
  margin: 0;
}

* :active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 10px;
  line-height: 1;
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}

body {
  color: #ffffff;
  font-family: "AGAvalancheC";
}

.bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/bg.jpg) center no-repeat;
  z-index: -1;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main input[type=radio] {
  display: none;
}

.section {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 2rem 2%;
}

.section__title {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.nav {
  width: 100%;
  padding: 1.5rem;
}

.nav__menu {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 1rem;
}

.nav__item h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 1rem;
}

.nav__icon {
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__icon svg {
  width: 100%;
}

.wraper {
  background: rgba(16, 44, 84, 0.4);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
  background: rgba(16, 44, 84, 0.5);
}

.container--header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.7rem 3rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #102c54;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__title h2 {
  text-transform: lowercase;
}

.header__contacts {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 2rem;
  font-weight: bold;
}

.header__phones {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.header__mail {
  margin-left: auto;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #102c54;
  padding-top: 2rem;
  padding-left: 0;
  padding-bottom: 0;
}

.hero__img {
  width: 30%;
}

.hero__img img {
  width: 100%;
}

.hero__text {
  max-width: 74.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.hero__quote {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  line-height: 3.6rem;
  margin-bottom: 4rem;
}

.hero__author {
  font-family: "Adventure";
  font-size: 2rem;
  margin-left: auto;
}

.services {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0;
}

.services__service {
  background-color: #d1d1d1;
  padding: 1rem;
  border: 0.5rem solid #102c54;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.services__ps {
  color: #fffd00;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 2.5rem;
}

.services__ps::before {
  content: "*";
  margin-right: 1rem;
}

.service__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  height: 6rem;
  margin-right: 2rem;
}

.service__img img {
  width: 100%;
  height: 100%;
}

.service__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.service__title {
  color: #102c54;
  font-weight: bold;
}

.service__text {
  color: #102c54;
  font-size: 1.6rem;
  line-height: 2;
  margin-bottom: 1.2;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #102c54;
  font-size: 1.6rem;
  padding-top: 0;
  margin-bottom: 2rem;
}

.price__content {
  width: 100%;
  background-color: #d1d1d1;
  padding: 1rem;
  padding-right: 5%;
  border: 0.5rem solid #102c54;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.price__title {
  font-weight: bold;
  margin-bottom: 2rem;
}

.price__type {
  margin-bottom: 3rem;
}

.price__type:last-child {
  margin-bottom: 0;
}

.price__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-bottom: 2px solid #102c54;
}

.price__position:last-child {
  border: none;
}

.price__name {
  line-height: 2.4rem;
}

.price__value {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  text-align: right;
  font-weight: bold;
}

.price__info {
  margin-bottom: 1rem;
}

.price__info span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.price__info p {
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
}

.price__info ul li:before {
  content: "-";
  display: inline-block;
  margin: 0 0.5rem;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #d1d1d1;
}

.advantages__title {
  color: #102c54;
}

.advantages__list {
  color: #102c54;
  font-size: 2rem;
  line-height: 2.4;
}

.advantages__list li::before {
  content: '';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  background-color: #102c54;
  border-radius: 50%;
  margin-right: 1rem;
}

.form {
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d1d1d1;
  padding: 3rem 1.5rem;
  border: 5px solid #102c54;
  border-radius: 20px;
  margin: 0 auto;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form form input, .form form textarea {
  width: 30rem;
  height: 4rem;
  color: rgba(16, 44, 84, 0.8);
  background-color: transparent;
  border: 1px solid #102c54;
  border-radius: 10px;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.form form textarea {
  height: 12rem;
  padding-top: 1.5rem;
  margin-bottom: 0;
}

.form form input[type=submit] {
  background-color: #fffd00;
  color: #102c54;
  font-weight: bold;
  padding-left: 0;
  cursor: pointer;
}

.form__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__policy input[type=checkbox] {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  margin-bottom: 0;
  cursor: pointer;
}

.form__policy label {
  font-size: 1.2rem;
  line-height: 3.6rem;
  color: #102c54;
  cursor: pointer;
}

.form__name {
  color: #102c54;
  font-weight: bold;
  text-align: center;
}

.form__img {
  width: 33rem;
  height: 33rem;
}

.form__img img {
  width: 100%;
  border-radius: 50%;
  background-color: #102c54;
}

.form__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  text-align: center;
  font-size: 2rem;
  color: #102c54;
  margin-bottom: 3rem;
}

.form__title h3 {
  font-weight: bold;
}

.form__control {
  color: red;
}

.form__input {
  margin-bottom: 1rem;
}

.callback {
  position: fixed;
  right: 10%;
  bottom: 2%;
  width: 10rem;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #fffd00;
  border: 0.5rem solid #102c54;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 50px #fffd00;
          box-shadow: 0px 0px 50px #fffd00;
}

.callback img {
  width: 70%;
  border-radius: 50%;
}

.callback::before {
  content: '';
  display: block;
  position: absolute;
  left: -2rem;
  right: -2rem;
  top: -2rem;
  bottom: -2rem;
  border: 50%;
  border: 3px solid #102c54;
  border-radius: 50%;
  -webkit-animation: btnCb 1s linear infinite;
          animation: btnCb 1s linear infinite;
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.callback:hover::after {
  content: attr(data-name);
  position: absolute;
  width: 20rem;
  top: -7rem;
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
}

.map {
  width: 40%;
}

.map iframe {
  width: 100%;
  height: 30rem;
}

.footer {
  background-color: #102c54;
}

.footer__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2rem;
  padding: 1rem;
  border-bottom: 1px solid #ffffff;
}

.footer__dev {
  color: #d1d1d1;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(16, 44, 84, 0.9);
}

.modal__form {
  padding: 0.5rem;
}

.modal__close {
  right: 0;
  top: 0;
  width: 2.8rem;
  height: 2.8rem;
  background: transparent url("../img/close.png") no-repeat center/contain;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

.hidden {
  display: none;
}

@-webkit-keyframes btnCb {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes btnCb {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
}

.questions {
  position: relative;
  max-width: 925px;
  margin: 0 auto;
  margin-top: 151px;
  z-index: 1;
}

.questions_text {
  text-align: center;
  margin-bottom: 83px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  /* color: #fff */
}

.questions_accordion {
  /* max-width: 923px */
  height: auto;
  /* background-color: #3C4070 */
  /* border-radius: 7px */
}

.questions_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* padding: 36px 34px 25px 36px */
  cursor: pointer;
}

.questions_active_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*.questions_open {
  position: relative;
  width: 32px;
  height: 32px;
  /* background-color: #202245 */
  border-radius: 50%;
}

/* .questions_open div
 position: absolute
 top: 50%
 left: 50%
 transform: translate(-50%, -50%)
 */
/* .questions_open div:first-child
 width: 13px
 border: 1px solid #FFFFFF */
.questions_content {
  display: none;
  margin-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.36);
}

.questions_content_active {
  display: block;
}

.questions_content_subtitle {
  margin-top: 10px;
  /* font-family: Nunito */
  /* font-style: normal */
  /* font-weight: normal */
  /* font-size: 22px */
  /* line-height: 35px */
  /* color: #C4C6D4FF */
}

@media screen and (max-width: 1070px) {
  html, body {
    font-size: 9px;
  }
}

@media screen and (max-width: 992px) {
  html, body {
    font-size: 7px;
  }
}

@media screen and (max-width: 768px) {
  html, body {
    font-size: 5px;
  }
  .header__phones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .form__img, .form__name {
    display: none;
  }
  .form__policy label {
    font-size: 10px;
  }
  .form__input {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .form form input, .form form textarea {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .callback:hover::after {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2rem;
  }
}
