@font-face {
  font-family: "AGAvalancheC";
  src: url(../fonts/AGAvalancheC.woff) format("woff"), url(../fonts/AGAvalancheC.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AGAvalancheC";
  src: url(../fonts/AGAvalancheC-Bold.woff2) format("woff2"), url(../fonts/AGAvalancheC-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adventure";
  src: url(../fonts/Adventure.woff) format("woff"), url(../fonts/Adventure.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adventure_Normal";
  src: url(../fonts/Adventure_Normal.woff) format("woff"), url(../fonts/Adventure_Normal.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
